# Copiar como .env o trasladar estas variables al entorno del servicio.
# No guardar credenciales reales en Git.

PINV_VIDEO_SOURCE=rtsp://usuario:contrasena@192.168.1.100:554/ruta
PINV_MODEL_PATH=/home/orin/pinv01-27-autonomous-node/models/yolo26n.pt
PINV_MCU_PORT=/dev/mcu
PINV_UPDATE_SERIAL_PORT=/dev/adapter
PINV_STREAM_KEY=carbikebustruck
PINV_UPDATES_DIR=/home/orin/Desktop/updates_ipfs
PINV_IPFS_BIN=/usr/local/bin/ipfs
PINV_CURL_BIN=/usr/bin/curl
