# Instalar como /etc/default/pinv0127 con permisos 0600.
PINV_UPDATE_SERIAL_PORT=/dev/adapter
PINV_MCU_PORT=/dev/mcu
PINV_VIDEO_SOURCE=0
PINV_UPDATES_DIR=/home/orin/Desktop/updates_ipfs
PINV_IPFS_BIN=/usr/local/bin/ipfs
PINV_CURL_BIN=/usr/bin/curl
